@import url('https://fonts.googleapis.com/css?family=Amarante');

#wrapper h1 { 
  font-size: 62.5%;
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  width: 850px;
  /* background: rgb(1, 12, 15); */
  margin: 0 auto;
  padding: 10px 17px;
  /* box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35); -webkit- */
}

#keywords {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  font-size: .8em;
  margin-bottom: 15px;
  background: #fff;
}


#keywords thead {
  cursor: pointer;
  background: #c9dff0;
}
#keywords thead tr th { 
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span { 
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 15px 10px;
}
#keywords tbody tr td.lalign {
  text-align: left;
}
.heading{
    color: #003f6e;
    text-align: center;
}
.result{
  overflow: auto;
}
