
header{
    /* background-color: #181823; */
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #E9F8F9;
    box-shadow: 0 2px 10px #537FE7;
}

.header{
    margin: auto;
    padding: 0 1rem;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

/* .logo h1{
    font-family: 'Tilt Prism', cursive;
} */

.logo img{
    width: 65px;
}
.navigation{
    display: flex;
    align-items: center;
}
.navs{
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-item{
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item:hover{
    background-color: #537FE7;
}
.nav-item a{
    text-decoration: none;
    color: #E9F8F9;
    padding: 1.3rem 2rem;
    font-weight: 600;
}
