{% extends 'ownerbase.html' %}
{% load static %}

{% block title %}
    Edit Profile
{% endblock title %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'owner/editprofile.css' %}">
{% endblock cssfiles  %}

{% block main %}
<div class="main-wrap">
  
    <div class="col-mod-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit Profile</h4>
          <p class="card-description">
            Enter Details
          </p>
          <form class="forms-sample" method="POST" enctype="multipart/form-data">
            <div class="preview">
              <img id="pic-preview" {% if user.ProfilePic %} src="{{user.ProfilePic.url}}" {% endif %}>
          </div>
  
            <div class="form-group">
              <label for="profile-pic">Upload Image</label>
              <input class="form-control" type="file" id="profile-pic" name="profile-pic" accept="image/*" onchange="showPreview(event);">
            </div>
  
            <div class="form-group">
              <label for="name">Full Name</label>
              <input type="text" class="form-control" id="name" placeholder="Full Name" name="name" {% if user.OwnerName %}value="{{user.OwnerName}}"{% endif %} >
            </div>
  
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" placeholder="Email" name="email" {% if user.email %}value="{{user.email}}"{% endif %} >
            </div>
  
  
            <div class="form-group">
              <label for="phone-num">Phone Number </label>
              <input type="text" class="form-control" id="phone-num" pattern="/(6|7|8|9)\d{9}/" onkeypress="return (event.charCode > 47 && 
              event.charCode < 58) || event.charCode==8"  name="phone-num"{% if user.OwnerPhNo %} value="{{user.OwnerPhNo}}"{% endif %}>
            </div>
  
            <div class="form-group">
              <label for="floor-num">Floor Number</label>
              <select class="form-control" name="floor-num" id="floor-num" value="{{user.FloorNo}}">
                  <option value="0">G</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  {% if FloorNo %} <option value="{{user.FloorNo}}" selected>{{user.FloorNo}}</option> {% endif %}
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="flat-num">Flat Number</label>
              <select class="form-control" name="flat-num" id="flat-num">
                  {% if user.FlatNo %}<option value="{{user.FlatNo}}">{{user.FlatNo}}</option>{% endif %}
                  <option value="1">G01</option>
                  <option value="2">G02</option>
                  <option value="3">G03</option>
                  <option value="4">G04</option>
                  <option value="5">G05</option>
                  <option value="6">G06</option>
              </select>
            </div>
  
            <input type="submit" name="submit" value="Done" class="btn btn-primary mr-2">
            <a href="{% url 'owner-profile' %}" class="btn btn-light">Cancel</a>
          </form>
        </div>
      </div>
  
</div>
  <script src="{% static 'owner/js/editprofile.js' %}" ></script>
{% endblock main %}