{% extends 'ownerbase.html' %}
{% load static %}

{% block title %}
    Owner's Page    
{% endblock title %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'owner/index.css' %}">
{% endblock cssfiles %}

{% block main %}
    <h1>Owner's Page</h1>
    <div class="main-content">
        <div class="row">
            <section class="notices-div">
                <h1 class="heading">Notices</h1>
                <div class="notices">
                    {% for notice in notices %}
            
                    <div class="notice">
                        <p>This notice is posted by {{ notice.notice_by | title }}</p>
                        <h2 class="notice-title">{{ notice.notice_title | title }}</h2>
                        <p class="notice-desc">{{ notice.notice_desc }}</p>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="payment-status">
                <h1 class="heading">Payment Status</h1>
                <div class="status">
                    <h4>Maintenance Bill Pending</h4>
                </div>
            </section>
        </div>
    </div>
    
{% endblock main %}