{% extends 'ownerbase.html' %}
{% load static %}

{% block title %}
    Complaints 
{% endblock title %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'owner/postcomplaints.css' %}">
{% endblock cssfiles %}

{% block main %}
    <div class="main-wrap">
        
    <div class="col-md-6 grid-margin stretch-card">
            
    <div class="card">
        <div class="card-body">
            <h2 style="text-align: center">Complaints</h2>
            <p class="card-description"  style="text-align: center">
                Post your complaint below
            </p>
            <form class="forms" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="desc">Complaint Description <span class="required">*</span></label>
                    <textarea class="form-control" name="complaint_desc" id="desc" rows="10" required></textarea>
                </div>
                
                <input type="submit" class="btn btn-primary mr-2" id="submit" value="Post" name="submit"/>
                <input type="reset" class="btn btn-light">
        </form>
        </div>
    </div>
</div>
</div>
{% endblock main %}