{% extends 'ownerbase.html' %}
{% load static %}

{% block title %}
    Sign Up
{% endblock title %}


{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'owner/signup.css' %}">
    <script src="{% static 'owner/signup.js' %}" defer></script>
{% endblock cssfiles %}

{% block body %}
<div class="logo-section" style="background: url({% static 'owner/media/appartment.jpeg' %})">
    <div class="logo">
        <img src="{% static 'owner/media/logo.png' %}" alt="Logo">
    </div>
</div>
<div class="main">
    <h1>Venkata Sai Heights</h1>
    <p class="desc">Welcome to Venkata Sai Heights Apartment.This was developed in 
        1 Acre land.Apartment consists of a Play Area for Children and surrounded with a Garden.
        Apartment consist of G+7 floors and 8 flats in each floor.except Ground floor
        Ground floor consists of Office room,Association room and it consist of function hall
        and 4 flats rest of the floors consists of 8 flats.And having 2 cellars for Parking.
    </p>
    <p class="desc">Register from here!</p>
    
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-card">
            <h3>Register!!</h3>
            <div class="names">
                <div class="input-div">
                    <label for="fname">FIRST NAME <span class="required">*</span></label>
                    <input type="text" name="fname" id="fname" required>
                </div>
                <div class="input-div">
                    <label for="lname">LAST NAME <span class="required">*</span></label>
                    <input type="text" name="lname" id="lname" required>
                </div>
                <div class="input-div">
                    <label for="flatno">FLAT NO. <span class="required">*</span></label>
                    <input type="number" name="flatno" id="flatno" required>
                </div>
                <div class="input-div">
                    <label for="floorno">FLOOR NO. <span class="required">*</span></label>
                    <input type="number" name="floorno" id="floorno" required>
                </div>
            </div>
            
            <div class="address">
                <div class="input-div">
                    <label for="email">EMAIL </label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="input-div">
                    <label for="phnumber">PHONE NUMBER</label>
                    <input type="text" pattern="[0-9]{10}" name="phnumber" id="phnumber" required>
                </div>
            </div>

            <div class="passwords">
                <div class="input-div">
                    <label for="pwd">PASSWORD <span class="required">*</span></label>
                    <input type="password" name="pass" id="pwd" required>
                </div>
                <div class="input-div">
                    <label for="confpwd">CONFIRM PASSWORD <span class="required">*</span></label>
                    <input type="password" name="confpas" id="confpwd" required>
                </div>
            </div>
        </div>
        <input type="submit" id="yes" class="yes" name="Yes" />
    </form>
    <p>Already have an account? <a href="">Log in</a></p>
</div>
{% endblock body %}