@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    margin: 0;
    padding: 0;
    /* font: inherit; */
}


/* min body height */

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #E9F8F9;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
