.nav-link {
  min-width: 70px;
}
.main-panel {
  min-height: 100%;
  display: flex;
}
.main {
  flex: 1;
  background-color: #f5f7ff;
}
.main-wrap {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.375rem;
  overflow: auto;
}

select.form-control{
  color: #000;
}

@media (max-width: 991px) {
  .main-panel {
    min-height: 100%;
    display: flex;
  }
}
