{% load custom %} 

{% for complaint in complaints %}
<div class="col mb-4">
    <div class="card">
        <div class="card-body">
            <h3> {{ complaint.complaint_desc | title}} </h3>
            <p>Posted on: {{ complaint.issued_date }}</p>
            <p>Posted by: {{ complaint.complaint_by }} ({{ allUsers|pos:complaint.complaint_by }})</p>
            {% if complaint.resolved_date %}
                <span>Resolved</span>
            {% endif %}
            {% if association %}
            <a href="{% url 'complaint-resolve' id=complaint.id %}"><input type="button" name="resolve" value="Resolved"></a>
            {% endif %}
        </div>
    </div>
    </div>
{% endfor %}