{% load static %}
<header>
    <div class="header">
        <div class="logo">
            <img src="{% static 'media/logo.png' %}" alt="AMS-Logo">
            <h1 class="logotitle">AMS</h1>
        </div>
        <div class="navigation">
            <ul class="navs">
                <li class="nav-item"><a href="{% url 'owner-home' %}"> Home</a></li>
                <li class="nav-item"><a href="{% url 'owner-ledger' %}"> Ledger</a></li>
                <li class="nav-item"><a href="{% url 'post-complaints' %}"> Post Complaints</a></li>
                <li class="nav-item"><a href="{% url 'main' %}"> Logout</a></li>
            </ul>
        </div>
    </div>
</header>