{% if expenditures %}
<div class="income">
    <div id="wrapper">
        <h1 id="heading">Income</h1>
        
        <table id="keywords" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
               <th><span>S.NO</span></th>
               <th><span>Purpose</span></th>
              <th><span>Price</span></th>
            </tr>
          </thead>
          <tbody>
            {% for income in incomes %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td class="lalign"> {{income.name}} </td>
                <td id="{{income.id}}">{{ income.amount }}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
       </div> 
</div>
{% else %}
<p>No Income for selected month</p>

{% endif %}





   {% comment %} 

    <table>
        <tbody>
            <tr>
                <td>Opening Balanace</td>
                <td id="openbalance">{{ open_bal }}</td>
            </tr>
            <tr>
                <td>Maintenance Bills</td>
                <td id="main-bill">{{ maintenance.amount__sum }}</td>
            </tr>
            <tr>
                <td>Function Hall Bills</td>
                <td id="fun-bill" >{% if function_hall.amount__sum %} {{ function_hall.amount__sum }} {% else %} - {% endif %}</td>
            </tr>
            {% if other.amount__sum %}
            <tr>
                <td>Other Bills</td>
                <td id="other-bill" >{{other.amount__sum}} </td>
            </tr>
            {% endif %}
            <tr>
                <td></td>
                <td id="totalbalance" ></td>
            </tr>
            <tr>
                <td>Expenditure</td>
                <td id="expenditure">{{expenditure.amount__sum}}</td>
            </tr>
            <tr>
                <td> Current Balance</td>
                <td></td>
            </tr>
        </tbody>
    </table>

   {% endcomment %}