{% load static %}
<style>
    .formcard{
        display: flex;
        gap: 1rem;
        align-items: center;
        margin: 1rem;
    }
    select.form-control{
        color: #495057;
    }
</style>

<form method="post">
    {% csrf_token %}
    <div class="formcard">
        <select name="month" id="month"  class="form-control">
            <option value="">- Select a Month -</option>
            {% for num, month in months.items %}
            <option value="{{num}}">{{month}}</option>
            {% endfor %}
        </select>
        <select name="year" id="year" class="form-control">
            <option value=""> - Select Year -</option>
        </select>
        <input type="submit" value="get" id="get" class="btn btn-primary btn-sm" name="submit">
    </div>
</form>

  <!-- Modal -->
  <div class="modal fade bd-example-modal-sm" id="validGet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Month and Year</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
<script src="{% static 'includes/MYS.js' %}">
    
</script>