{% extends 'associationbase.html' %}
{% load static %}

{% block title %}
    Complaints
{% endblock title %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'includes/complaints.css' %}">
{% endblock cssfiles %}

{% block body %}
    <main>
        <div class="complaints-section">
            <h1>All Complaints</h1>
            <div class="complaints">{% include 'includes/complaints.html' with association=True %}
            </div>
        </div>
    </main>
{% endblock body %}


