{% extends 'associationbase.html' %}
{% load static %}

{% block title %}
    Ledger
{% endblock title %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static "includes/expenditure.css" %}">
    <link rel="stylesheet" href="{% static 'includes/ledger.css' %}">
{% endblock cssfiles %}


{% block main %}
<div class="main-wrap">
    <div class="card">
        <div class="card-body">
            {% include 'includes/ledger.html' %}
        </div>  
        <a href="{% url 'addexpense' %}" class="btn btn-inverse-info btn-sm">Add Item</a>
    </div>
</div>
{% endblock main %}