{% extends 'associationbase.html' %}
{% load static %}

{% block title %}
    Ledger
{% endblock title %}

{% block body %}
<a href="{% url 'addexpense' %}">Add Item</a>
<form action="" method="post">
    {% csrf_token %}
    <select name="month" id="month">
        {% for num, month in months.items %}
        <option value="{{num}}">{{month}}</option>
        {% endfor %}
    </select>
    <select name="year" id="year">
    </select>
    <input type="submit" value="get" name="submit">
</form>

<h1>Expenditure of {{ month }} {{year}}</h1>

{% include 'includes/expenditure.html' %}

<h1>Income</h1>
<script>
    const years = document.querySelector("#year");
    for(let i = 2010; i < 2040; i++){
        const option = document.createElement("option");
        option.setAttribute("value", i);
        option.appendChild(document.createTextNode(i));
        years.appendChild(option);
    }
</script>
{% endblock body %}