{% extends 'associationbase.html' %}
{% load static %}

{% block title %}
    Add Notice
{% endblock title %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'association/noticesadd.css' %}">
{% endblock cssfiles %}

{% block main %}
    <div class="main-wrap">

        


        <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Notice</h4>
                    <form class="forms-sample" method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="notice-title" class="col-sm-3 col-form-label font-weight-bold">Title <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="notice-title" id="notice-title" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="desc" class="col-sm-3 col-form-label font-weight-bold">Event Description: <span class="required">*</span></label>
                            <div class="col-sm-9">
                                <textarea name="desc" class="form-control" id="desc" cols="30" rows="10" required></textarea>
                            </div>
                        </div>

                        <div class="buttons">
                            <input type="reset" class="btn btn-outline-danger">
                            <input type="submit" id="submit" class="btn btn-success" name="notices" value="Add"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}