{% extends 'associationbase.html' %}
{% load static %}

{% block title %}
    Ledger
{% endblock title %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'association/payments.css' %}">
{% endblock cssfiles %}

{% block body %}
<div class="paymentwrap">
    <div class="form">
        {% include 'includes/MonYrselector.html' %}
    </div>
    
    {% if month_payments %}
    
        {% for payment in month_payments %}
        <div class="payment">
            <p>{{ payment.payment_desc}} </p>
            <p>{{ payment.user | title }} paid {{ payment.amount }} through {{ payment.payment_mode }}. </p>
            <p>UTR: {{ payment.UTR }} </p>
            <p> {{ payment.payment_date}} </p>
        </div>
        {% endfor %}
    
    {% else %}
    
    <h1>All Payments</h1>
    
    <div class="payments">
        {% for payment in payments %}
        <div class="payment">
            <p>{{ payment.payment_desc}} </p>
            <p>{{ payment.user | title }} paid {{ payment.amount }} through {{ payment.payment_mode }}. </p>
            <p>UTR: {{ payment.UTR }} , Reciept No: {{ payment.reciept_no }} </p>
            <p> {{ payment.payment_date}} </p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
</div>
{% endblock body %}