{% extends 'associationbase.html' %}
{% load static %}

{% block title %}
    Ledger
{% endblock title %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'association/payments.css' %}">
{% endblock cssfiles %}

{% block main %}
<div class="main-wrap">
    <div>
        
            {% include 'includes/MonYrselector.html' %}
        
                {% if month_payments %}
        
                    {% for payment in month_payments %}
                    <div class="payment">
                        <p>{{ payment.payment_desc}} </p>
                        <p>{{ payment.user | title }} paid {{ payment.amount }} through {{ payment.payment_mode }}. </p>
                        <p>UTR: {{ payment.UTR }} </p>
                        <p> {{ payment.payment_date}} </p>
                    </div>
                    {% endfor %}
        
                {% else %}
        
        
                <div class="row row-cols-1 row-cols-md-2">
                {% for payment in payments %}
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h4>{{ payment.payment_desc | title | default:"NA"}} </h4>
                                <p>{{ payment.user | title }} paid {{ payment.amount }} through {{ payment.payment_mode }}. </p>
                                <p>UTR: {{ payment.UTR }} , Reciept No: {{ payment.reciept_no }} </p>
                                <p> {{ payment.payment_date}} </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        
                {% endif %}
    </div>
</div>
{% endblock main %}