{% extends 'associationbase.html' %}

{% load static %}

{% block title %}
    Profile
{% endblock title %}

{% block cssfiles %}
    <link rel="stylesheet" href="{% static 'owner/profile.css' %}">
{% endblock cssfiles %}

{% block main %}
    <a href="{% url 'edit-association-profile' %}">Edit profile</a>
    <img src="{% if user.ProfilePic %} {{user.ProfilePic.url}} {% else %} {% static 'main/images/Default_Profile_Picture.png' %} {% endif %}" alt="dp" id="profile-pic">
    <h1>Name: {{user.AssociationName}}</h1>
    <p>  @{{ user.user }}</p>
    <p><b>Role: </b> {{user.AssociationRole}}</p>
    <p><b>Email: </b> {{ user.email }} </p>
    <p><b>Contact: </b>{{ user.AssociationPhNo }} </p>
    
{% endblock main %}