main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    min-width: 90vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.notices{
    display: flex;
    max-width: 50vw;
    height: 15rem;
    overflow: auto;
    /* background-color: #ffffff; */
}

.notice{
    min-width: 93%;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.33);
    margin: 1rem;
}

.notice-title{
    background-color: #A7727D; /* #EB455F */
    padding: 1rem 2rem;
    color:  #F9F5E7;/* #FCFFE7; */
    border-radius: 10px 10px 0 0;

}
.notice-desc{
    background-color: #F9F5E7; /* #BAD7E9 */
    padding: 1rem 2rem;
    color: #A7727D; /* #2B3467 */
    height: 70%;
    border-radius: 0 0 10px 10px;

}

.payment-status{
    height: 15rem;
    width: 15rem;
    flex-shrink: 0;
}
.status{
    /* background-color: #A7727D; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    border: 5px solid #DC0000;
}