{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Login Page</title>
	<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
</head>

<body>
	<header>
		<h1 class="heading">Login Page</h1>
	</header>

	<div class="container">
		<div class="slider"></div>
		<div class="btn">
			<button class="login">Owner</button>
			<button class="signup">Association</button>
		</div>

		<div class="form-section">
			<form action="" method="POST">
				{% csrf_token %}
				<div class="login-box">
					<input type="username" class="email ele" name="owner-username" placeholder="username">
					<input type="password" class="password ele" name="owner-password" placeholder="password">
					<input type="submit" name="owner" value="Login" class="clkbtn">
				</div>
			</form>

			<!-- Association form -->
			<form action="" method="POST">
				{% csrf_token %}
				<div class="login-box">
					<input type="username" class="email ele" name="assocation-username" placeholder="username">
					<input type="password" class="password ele" name="assocation-password" placeholder="password">
					<input type="submit" name="association" value="Login" class="clkbtn">
				</div>
			</form>
		</div>
	</div>
	<script src="{% static 'main/js/login.js' %}"></script>
</body>

</html>
