{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'main/css/signup.css' %}">
    <script src="{% static 'main/js/signup.js' %}" defer></script>
</head>
<body>
    
    <div class="logo-section" style="background: url({% static 'main/images/signup/appartment.jpeg' %})">
        <div class="logo">
            <img src="{% static 'main/images/signup/logo.png' %}" alt="Logo">
        </div>
    </div>
    <div class="main">
        <h1>Venkata Sai Heights</h1>
        <p class="desc">Welcome to Venkata Sai Heights Apartment.This was developed in 
            1 Acre land.Apartment consists of a Play Area for Children and surrounded with a Garden.
            Apartment consist of G+7 floors and 8 flats in each floor.except Ground floor
            Ground floor consists of Office room,Association room and it consist of function hall
            and 4 flats rest of the floors consists of 8 flats.And having 2 cellars for Parking.
        </p>
        <p class="desc">Register from here!</p>
        
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-card">
                <h3>Register!!</h3>
                <div class="names">
                    <div class="input-div">
                        <label for="fname">FULL NAME</label>
                        <input type="text" name="fname" id="fname">
                    </div>
                    <div class="input-div">
                        <label for="username">USERNAME<span class="required">*</span></label>
                        <input type="text" name="username" id="username" required>
                    </div>
                    
                </div>
                
                <div class="address">
                    <div class="input-div">
                        <label for="email">EMAIL </label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="input-div">
                        <label for="phnumber">PHONE NUMBER</label>
                        <input type="text" pattern="[0-9]{10}" name="phnumber" id="phnumber">
                    </div>
                </div>
    
                <div class="passwords">
                    <div class="input-div">
                        <label for="pwd">PASSWORD <span class="required">*</span></label>
                        <input type="password" name="pass" id="pwd" required>
                    </div>
                    <div class="input-div">
                        <label for="confpwd">CONFIRM PASSWORD <span class="required">*</span></label>
                        <input type="password" name="confpas" id="confpwd" required>
                    </div>
                </div>

                <div class="user-type">
                    <div class="usertype">
                        <label for="type">Type</label>
                        <select name="user_type" id="user_type">
                            <option value="Owner">Owner</option>
                            <option value="Association">Association</option>
                        </select>
                    </div>
                </div>
            </div>
            <input type="submit" id="submit" class="yes button" name="submit" disabled/>
            <input type="reset"  class="button">
        </form>
        <p>Already have an account? <a href="{% url 'main-login' %}">Log in</a></p>
    </div>
</body>
</html>